<!-- Portfolio -->
<div class="section works scrollspy" id="works-section">

    <!-- Title -->
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="grey-text text-darken-2 left-align">Portfolio</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card work-item mockups all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-1" class="activator"><img src="assets/images/works/work1.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-1" class="activator">
                            <span>Realistic Business Cards MockUp</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">Mockups</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card work-item graphics all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-2" class="activator"><img src="assets/images/works/work3.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-2" class="activator">
                            <span>The Mountainbiker Freebie PSD</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">Graphics</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card work-item ui all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-6" class="activator"><img src="assets/images/works/work6.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-6" class="activator">
                            <span>Chameleon UI Kit</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">UI Kits</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card work-item ui all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-6" class="activator"><img src="assets/images/works/work6.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-6" class="activator">
                            <span>Chameleon UI Kit</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">UI Kits</span>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card work-item ui all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-6" class="activator"><img src="assets/images/works/work6.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-6" class="activator">
                            <span>Chameleon UI Kit</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">UI Kits</span>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card work-item ui all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-6" class="activator"><img src="assets/images/works/work6.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-6" class="activator">
                            <span>Chameleon UI Kit</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">UI Kits</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card work-item ui all">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#popup-6" class="activator"><img src="assets/images/works/work6.jpg" alt="" /></a>
                </div>
                <div class="card-content">
                    <h3 class="card-title grey-text text-darken-4">
                        <a href="#popup-6" class="activator">
                            <span>Chameleon UI Kit</span>
                            <i class="material-icons right">more_vert</i>
                        </a>
                    </h3>
                    <span class="category blue-text text-darken-2">UI Kits</span>
                </div>
            </div>
        </div>
    </div>
</div>
