<!-- Section About -->
<div class="section about scrollspy" id="about-section">

    <!-- Title -->
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="grey-text text-darken-2 left-align">About Me</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="text-box">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
                <div class="bts">
                    <a href="#" class="btn waves-effect waves-light">Download CV</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-info z-depth-1">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m5 l5 grey-text darken-1">
                            <i class="material-icons">perm_identity</i> Age:
                        </div>
                        <div class="col s6 m7 l7 grey-text text-darken-4 right-align">22 Years</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m5 l5 grey-text darken-1">
                            <i class="material-icons">work</i> Job:
                        </div>
                        <div class="col s6 m7 l7 grey-text text-darken-4 right-align">Freelancer</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m5 l5 grey-text darken-1">
                            <i class="material-icons">location_on</i> Citizenship:
                        </div>
                        <div class="col s6 m7 l7 grey-text text-darken-4 right-align">United States</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m5 l5 grey-text darken-1">
                            <i class="material-icons">business</i> Address:
                        </div>
                        <div class="col s6 m7 l7 grey-text text-darken-4 right-align">358 W Jefferson St, Bensenville</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-info z-depth-1">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s8 m5 l5 grey-text darken-1">
                            <i class="material-icons">invert_colors</i> Cups of coffee:
                        </div>
                        <div class="col s4 m7 l7 grey-text text-darken-4 right-align">20.000</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s8 m5 l5 grey-text darken-1">
                            <i class="material-icons">language</i> Countries Visited:
                        </div>
                        <div class="col s4 m7 l7 grey-text text-darken-4 right-align">28</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s8 m5 l5 grey-text darken-1">
                            <i class="material-icons">stars</i> Awards Won:
                        </div>
                        <div class="col s4 m7 l7 grey-text text-darken-4 right-align">16</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s8 m5 l5 grey-text darken-1">
                            <i class="material-icons">album</i> Albumes Listened:
                        </div>
                        <div class="col s4 m7 l7 grey-text text-darken-4 right-align">80</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-skills z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle green darken-2">person</i>
                    <div class="title">Professional Skills</div>
                    <p>Sed ut perspiciatis</p>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">UI/UX Design</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress green lighten-5">
                                <div class="determinate green darken-2" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Web Delevopment</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress green lighten-5">
                                <div class="determinate green darken-2" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Mobile Application</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress green lighten-5">
                                <div class="determinate green darken-2" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Writing</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress green lighten-5">
                                <div class="determinate green darken-2" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Photography</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress green lighten-5">
                                <div class="determinate green darken-2" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-skills z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle red darken-2">forum</i>
                    <div class="title">Personal Skills</div>
                    <p>Sed ut perspiciatis</p>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Communication</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress red lighten-5">
                                <div class="determinate red darken-2" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Team Work</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress red lighten-5">
                                <div class="determinate red darken-2" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Leadership</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress red lighten-5">
                                <div class="determinate red darken-2" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Creativity</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress red lighten-5">
                                <div class="determinate red darken-2" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m4 l4">
                            <div class="title">Language</div>
                        </div>
                        <div class="col s6 m8 l8">
                            <div class="progress red lighten-5">
                                <div class="determinate red darken-2" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- Section Resume -->
<div class="section experience scrollspy" id="experience-section">

    <!-- Title -->
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="grey-text text-darken-2 left-align">Experience & Education</h5>
        </div>
    </div>

    <!-- Resume Items -->
    <div class="row">
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle green darken-2">assignment</i>
                    <span class="ultra-small red-text darken-2 right">PRESENT</span>
                    <div class="title">Facebook Inc.</div>
                    <span class="tag red darken-2">Art Director</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle green darken-2">assignment</i>
                    <span class="ultra-small red-text darken-2 right">2014-2016</span>
                    <div class="title">Google Inc.</div>
                    <span class="tag red darken-2">Front-end Developer</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle green darken-2">assignment</i>
                    <span class="ultra-small red-text darken-2 right">2012-2014</span>
                    <div class="title">Abc Inc.</div>
                    <span class="tag red darken-2">Senior Developer</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle green darken-2">assignment</i>
                    <span class="ultra-small red-text darken-2 right">2009-2012</span>
                    <div class="title">Freelancer</div>
                    <span class="tag red darken-2">Senior Developer</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle red darken-2">school</i>
                    <span class="ultra-small red-text darken-2 right">2008-2009</span>
                    <div class="title">Front-end Course</div>
                    <span class="tag red darken-2">London</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul class="collection collection-resume z-depth-1">
                <li class="collection-item avatar">
                    <i class="material-icons circle red darken-2">school</i>
                    <span class="ultra-small red-text darken-2 right">2005-2008</span>
                    <div class="title">Art University</div>
                    <span class="tag red darken-2">New York</span>
                </li>
                <li class="collection-item">
                    <p>
                        Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi.
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>
