<!-- Section About -->
<div class="section started">

    <!-- Profile -->
    <div class="card profile">
        <div class="card-image" style="background-image: url(assets/images/user/user-profile-bg.jpg);"></div>
        <div class="card-content">
            <div class="row">
                <div class="col s12 m5 l6">
                    <figure class="card-profile-image">
                        <img class="circle z-depth-1 responsive-img" src="assets/images/user/profile-sm.jpg" alt="" />
                    </figure>
                    <div class="card-profile-desc">
                        <h4 class="card-title grey-text text-darken-4">Jobayer Mojumder</h4>
                        <p class="medium-small grey-text">Web Application Developer</p>
                    </div>
                </div>
                <div class="col s4 m3 l2 center-align">
                    <h4 class="card-title grey-text text-darken-4">96%</h4>
                    <p class="medium-small grey-text">Jobs Completed</p>
                </div>
                <div class="col s4 m2 l2 center-align">
                    <h4 class="card-title grey-text text-darken-4">10</h4>
                    <p class="medium-small grey-text">Years Experience</p>
                </div>
                <div class="col s4 m2 l2 center-align">
                    <h4 class="card-title grey-text text-darken-4">$25</h4>
                    <p class="medium-small grey-text">USD/hr</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Stats -->
    <div class="stats">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card green darken-2">
                    <div class="card-content white-text center-align">
                        <p class="card-title"><i class="material-icons">recent_actors</i> 480+</p>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card cyan darken-2">
                    <div class="card-content white-text center-align">
                        <p class="card-title"><i class="material-icons">done_all</i> 400+</p>
                        <p>Complated Projects</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card red darken-2">
                    <div class="card-content white-text center-align">
                        <p class="card-title"><i class="material-icons">code</i> 100 000+</p>
                        <p>Lines of code</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card amber darken-2">
                    <div class="card-content white-text center-align">
                        <p class="card-title"><i class="material-icons">supervisor_account</i> 1000+</p>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
