<header>

    <!-- SideNav -->
    <ul class="side-nav fixed" id="nav-mobile">
        <li class="curent">
            <div class="userView">
                <div class="background">
                    <img src="assets/images/other/slide-bg.jpg" alt="" />
                </div>
                <img class="avatar circle" src="assets/images/user/profile-sm.jpg" alt="" />
                <div class="white-text name">Jobayer Mojumder</div>
                <div class="white-text email">jobayer.pro@gmail.com</div>
                <div class="social">
                    <a href="https://www.facebook.com/" target="blank"><i class="ion ion-social-facebook"></i></a>
                    <a href="https://www.dribbble.com/" target="blank"><i class="ion ion-social-dribbble"></i></a>
                    <a href="https://www.twitter.com/" target="blank"><i class="ion ion-social-twitter"></i></a>
                    <a href="https://plus.google.com/" target="blank"><i class="ion ion-social-googleplus"></i></a>
                </div>
            </div>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/home" routerLinkActive="active" class="waves-effect waves-light">
                <i class="material-icons">home</i>Home
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/about" routerLinkActive="active" class="waves-effect waves-light">
                <i class="material-icons">person_pin</i>About
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/service" routerLinkActive="active" class="waves-effect waves-light">
                <i class="material-icons">settings</i>Services
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/portfolio" routerLinkActive="active" class=" waves-effect waves-light">
                <i class="material-icons">work</i>Portfolio
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/blog" routerLinkActive="active" class="waves-effect waves-light">
                <i class="material-icons">library_books</i>Blog
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/contact" routerLinkActive="active" class="waves-effect waves-light">
                <i class="material-icons">phone</i>Contact
            </a>
        </li>
    </ul>

    <!-- Top menu -->
    <nav class="top-menu">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="#" data-activates="nav-mobile" class="menu-btn"><i class="material-icons">menu</i></a>
                </li>
                <!-- <li class="right">
                    <a href="#"><i class="material-icons">arrow_back</i></a>
                </li> -->
            </ul>
        </div>
    </nav>

</header>
