<div class="section blog">

	<!-- Title -->
	<div class="row">
		<div class="col s12 m12 l12">
			<h5 class="grey-text text-darken-2 left-align">Blog</h5>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog2.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Validate HTML Code</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">html</span>
						<span class="new badge red" data-badge-caption="">code</span>
					</div>
					<div class="date">18 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog2.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Validate HTML Code</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">html</span>
						<span class="new badge red" data-badge-caption="">code</span>
					</div>
					<div class="date">18 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog2.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Validate HTML Code</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">html</span>
						<span class="new badge red" data-badge-caption="">code</span>
					</div>
					<div class="date">18 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l4">
			<div class="card">
				<div class="card-image">
					<img src="assets/images/blog/blog1.jpg" alt="" />
					<a href="blog-post.html" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>
				</div>
				<div class="card-content">
					<span class="card-title">Music Player Design</span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel...
					</p>
				</div>
				<div class="card-action">
					<div class="badges">
						<span class="new badge red" data-badge-caption="">branding</span>
						<span class="new badge red" data-badge-caption="">ui-ux</span>
					</div>
					<div class="date">27 July</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="center-align">
		<a href="#" class="btn waves-effect waves-light">View More</a>
	</div>
</div>
